.align-self-start {
    align-self: start;
}

.align-self-center {
    align-self: center;
}

.align-self-end {
    align-self: end;
}

.border-0 {
    border: 0 !important;
}

.border-primary {
    border: 1px solid var(--md-sys-color-primary);
}

.border-outline {
    border: 1px solid var(--md-sys-color-outline-variant);
}

.cursor-pointer {
    cursor: pointer;
}

.display-contents {
    display: contents;
}

.display-flex {
    display: flex;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-row-end {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.flex-row-start {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.full-screen {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.hidden {
    display: none !important
}

.h-100 {
    height: 100%
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-self-center {
   justify-self: center;
}

.justify-self-end {
    justify-self: end;
}

.no-select {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.no-wrap {
    white-space: nowrap;
}

.p0 {
    padding: 0 !important;
}

.pl8 {
    padding-left: 8px;
}

.pl16 {
    padding-left: 16px;
}

.pt16 {
    padding-top: 16px;
}

.pt24 {
    padding-top: 24px;
}

.pb24 {
    padding-bottom: 24px;
}

.position-relative {
    position: relative;
}

.scroll-y {
    overflow-y: auto;
}

.text-align-end {
    text-align: end;
}

.uppercase {
    text-transform: uppercase;
}

.vertical-align-center {
    vertical-align: center;
}

.width-100 {
    width: 100%
}