.modal-background{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgba(0,0,0,0.5);
    z-index: 1900
}

.modal {
    box-sizing: border-box;
    color: var(--md-sys-color-on-surface);
    background-color: var(--md-sys-color-surface);
    border-radius: 12px;
    min-width: 280px;
    max-width: 560px;
}

.modal-headline {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: 32px;
    padding: 24px 24px 16px 24px;
}

.modal-content {
    padding: 0 24px 24px 24px;
}

.modal-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 24px 24px 24px;
}