.align-items-center {
    align-items: center;
}

.align-self-center {
    align-self: center;
}

.align-self-end {
    align-self: end;
}

.align-self-start {
    align-self: start;
}

.b0 {
    border: 0 !important;
}

.box-sizing-border {
    box-sizing: border-box;
}

.br8 {
    border-radius: 8px;
}

.cursor-pointer {
    cursor: pointer;
}

.display-contents {
    display: contents;
}

.display-flex {
    display: flex;
}


.gg16 {
    grid-gap: 16px;
}

.hidden {
    display: none !important
}

.h42 {
    height: 42px;
}

.h60 {
    height: 60px;
}

.h-full {
    height: 100%
}

.justify-content-center {
    justify-content: center;
}


.justify-content-end {
    justify-content: flex-end;
}

.justify-self-center {
    justify-self: center;
}

.justify-self-end {
    justify-self: end;
}

.m0 {
    margin: 0;
}

.mb8 {
    margin-bottom: 8px;
}

.overflow-y-auto {
    overflow-y: auto;
}

.p0 {
    padding: 0;
}

.p4 {
    padding: 4px;
}

.p8 {
    padding: 8px;
}

.pb16 {
    padding-bottom: 16px;
}

.pb24 {
    padding-bottom: 24px;
}

.pl8 {
    padding-left: 8px;
}

.pl16 {
    padding-left: 16px;
}

.pl24 {
    padding-left: 24px;
}

.pr8 {
    padding-right: 8px;
}

.pr16 {
    padding-right: 16px;
}

.pt8 {
    padding-top: 8px;
}

.pt16 {
    padding-top: 16px;
}

.pt24 {
    padding-top: 24px;
}

.position-relative {
    position: relative;
}

.select-none {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.text-transform-uppercase {
    text-transform: uppercase;
}

.vertical-align-center {
    vertical-align: center;
}

.w-full {
    width: 100%
}

.white-space-no-wrap {
    white-space: nowrap;
}